<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Plugins">
	<description>Generally-applicable sniffs for WordPress plugins</description>

	<rule ref="WordPress-Core" />
	<rule ref="WordPress-Docs" />

	<!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php"/>
	<file>.</file>

	<!-- Show progress and sniff codes in all reports -->
	<arg value="ps"/>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<!-- I cannot get file comments to be regsitered -->
	<rule ref="Squiz.Commenting.FileComment.Missing">
		<exclude-pattern>.</exclude-pattern>
	</rule>

	<!-- So we can use custom post types in file names -->
	<rule ref="WordPress.WP.I18n.NonSingularStringLiteralText">
		<exclude-pattern>.</exclude-pattern>
	</rule>
</ruleset>
