:root {
	--primary-color: #015aaa;
	--primary-color-light: #5f89c3;
	--primary-color-dark: #3a4858;
	--secondary-color: #aabbd3;
	--tertiary-color: #f4f4f4;
	--accent-color: orange;
	--font-color: var(--primary-color-dark);
	--border-radius: 1rem;
	--font: "Roboto", sans-serif;
	--slab-font: "Roboto Slab", serif;
}

html {
	font-family: var(--font);
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--secondary-color);
	color: var(--font-color);
	line-height: 1.3;
	margin: 0;
	padding: 0;
}

article,
div,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
li,
nav,
p,
section,
span,
ul {
	margin: 0;
	padding: 0;
}

p:not(:last-child) {
	margin-bottom: 0.5rem;
}

a {
	color: #0070d4;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
