.layout-body {
	box-sizing: border-box;
	display: grid;
	gap-column: 20px;
	grid-template-areas:
		". logo logo ."
		"nav nav nav nav"
		"content content content content "
		"footer footer footer footer ";
	grid-template-columns: 200px 400px 400px 200px;
	grid-template-rows: min-content min-content auto min-content;
	justify-content: center;
	min-height: 100vh;
	overflow-x: clip;
	padding: 0 0.5rem 2rem 0.5rem;
	position: relative;
	width: 100%;
}

.body-header {
	box-sizing: border-box;
	grid-area: logo;
	justify-self: center;

	a {
		display: inline-block;
	}

	.logo {
		animation-duration: 1ms;
		animation-fill-mode: both;
		animation-name: scale-on-scroll;
		animation-timeline: view();
		margin: -6rem auto 60rem;
		width: 540px;
	}
}

.body-page {
	background-color: #ffffff;
	box-sizing: border-box;
	display: grid;
	gap: 1rem;
	grid-area: content;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: auto;
	padding: 0 0 2rem 0;

	.page-main {
		grid-column: 2 / 3;
	}

	.main-title {
		font-family: var(--slab-font), serif;
		font-optical-sizing: auto;
		font-style: normal;
		font-weight: 500;
	}
}

.not-found {
	margin-top: 2rem;
}

.recent-home-series-image.series-image {
	width: 100%;
}

#body-nav {
	nav {
		z-index: 100;
	}

	#backdrop {
		background-color: rgba(58, 72, 88, 0);
		display: none;
		inset: 0;
		position: fixed;
		z-index: 99;
	}

	&[data-selected="about-us"],
	&[data-selected="list-in"] {
		#backdrop {
			background-color: rgba(58, 72, 88, 0.6);
			display: block;
		}
	}
}

@keyframes scale-on-scroll {
	60% {
		transform: scale(1);
	}
	80% {
		opacity: 1;
	}
	85% {
		opacity: 0.25;
	}
	100% {
		margin-bottom: -8rem;
		opacity: 0;
		transform: scale(0.25);
	}
}

@media (width <= 1400px) {
	.layout-body {
		grid-template-columns: 100px 300px 300px 100px;
	}

	.video-series-entry {
		.title {
			font-size: 1rem;
		}
	}
}

@media (width <= 900px) {
	.body-page {
		grid-template-columns: 1fr;
		gap: 0;
		padding: 1rem;
	}

	.layout-body {
		grid-template-columns: 400px;
		grid-template-rows: min-content min-content min-content min-content;
		grid-template-areas:
			"logo"
			"nav"
			"content"
			"footer";

		.page-main {
			grid-column: 1 / 1;
		}

		.main-title {
			grid-column: 1 / 1;
		}
	}

	@keyframes scale-on-scroll {
		60% {
			transform: scale(0.75);
		}
		80% {
			opacity: 1;
		}
		85% {
			opacity: 0.25;
		}
		100% {
			margin-bottom: -10rem;
			opacity: 0;
			transform: scale(0.2);
		}
	}
}

@media (width <= 375px) {
	.layout-body {
		grid-template-columns: 343px;
	}
}
