.layout-body {
	box-sizing: border-box;
	display: grid;
	gap: 20px;
	grid-template-areas:
		". logo logo ."
		".  nav nav ."
		"sub-nav sub-nav sub-nav sub-nav"
		"content content content content "
		"footer footer footer footer ";
	grid-template-columns: 200px 400px 400px 200px;
	grid-template-rows: min-content min-content min-content auto min-content;
	justify-content: center;
	min-height: 100vh;
	padding-bottom: 2rem;
	padding-top: 0;
	position: relative;
	width: 100%;
}

.body-header {
	box-sizing: border-box;
	grid-area: logo;
	justify-self: center;

	a {
		display: inline-block;
	}

	.logo {
		width: 450px;
	}
}

.body-page {
	background-color: #ffffff;
	border-radius: var(--border-radius);
	box-sizing: border-box;
	display: grid;
	gap: 1rem;
	grid-area: content;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: auto;
	padding: 2rem 0;

	.page-main {
		grid-column: 2 / 3;
	}

	.main-title {
		font-family: var(--slab-font);
		font-optical-sizing: auto;
		font-style: normal;
		font-weight: 500;
	}
}

.layout-footer {
	background-color: var(--primary-color-light);
	border-radius: var(--border-radius);
	box-sizing: border-box;
	color: var(--secondary-color);
	font-size: 0.7rem;
	grid-area: footer;
	padding: 0.5rem 2rem;

	ul {
		box-sizing: border-box;
		list-style: none;
	}

	a {
		color: var(--tertiary-color);
	}
}

.not-found {
	margin-top: 2rem;
}

.recent-home-series-image.series-image {
	width: 100%;
}

@media (width <= 1400px) {
	.layout-body {
		grid-template-columns: 100px 300px 300px 100px;
	}

	.video-series-entry {
		.title {
			font-size: 1rem;
		}
	}
}

@media (width <= 900px) {
	.body-page {
		grid-template-columns: 1fr;
		gap: 0;
		padding: 1rem;
	}
	.body-header {
		.logo {
			width: 50vw;
		}
	}

	.layout-body {
		grid-template-columns: 400px;
		grid-template-rows: min-content min-content min-content min-content min-content;
		grid-template-areas:
			"logo"
			"nav"
			"sub-nav"
			"content"
			"footer";

		.page-main {
			grid-column: 1 / 1;
		}

		.main-title {
			grid-column: 1 / 1;
		}
	}
}

@media (width <= 375px) {
	.layout-body {
		grid-template-columns: 343px;
	}
}
