.body-nav {
	align-self: end;
	background-color: #ffffff;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	box-sizing: border-box;
	column-gap: 2rem;
	display: flex;
	grid-area: nav;
	justify-content: center;
	padding: 2rem 0;
	position: relative;

	.btn {
		background: none;
		border: none;
		color: var(--primary-color);
		font-family: var(--slab-font);
		font-optical-sizing: auto;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 500;

		&.active {
			text-decoration: underline;
		}
	}
}

#body-sub-nav {
	position: absolute;
	top: 5rem;
	z-index: 100;

	.menu {
		background-color: rgba(255, 255, 255, 0.85);
		backdrop-filter: blur(5px);
		border-radius: var(--border-radius);
		box-sizing: border-box;
		box-shadow: 0 5px 20px var(--primary-color-dark);
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.15s ease-out;

		.title {
			border-bottom: 1px solid var(--secondary-color);
			font-family: var(--slab-font);
			font-size: 1rem;
			margin: 0.5rem 0;
			padding: 0.5rem;
		}

		.menu-item {
			font-size: 1.1rem;
			font-family: var(--font);
			padding: 0.4rem 0.5rem;

			&:hover {
				border-radius: calc(var(--border-radius) / 2);
				background-color: var(--primary-color);
				a {
					color: var(--tertiary-color);
					text-decoration: none;
				}
			}
		}

		ul {
			list-style: none;
		}
	}

	.menu.active {
		max-height: 500px;
		transition: max-height 0.15s ease-in;
		padding: 0 1rem 1rem 1rem;

		&.about-us {
			display: block;
		}

		&.list-in {
			display: flex;
			flex-direction: row;
			column-gap: 1rem;
		}
	}

	.menu {
		&.list-in {
			.topic {
				.menu-list {
					columns: 2;
				}
			}
		}
	}
}

@media (width <= 900px) {
	#body-sub-nav {
		.menu.active {
			max-height: 100vh;
			&.list-in {
				flex-direction: column;
			}
		}
	}
}
