.body-nav {
	align-self: end;
	background-color: #ffffff;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	box-sizing: border-box;
	column-gap: 2rem;
	display: flex;
	grid-area: nav;
	justify-content: center;
	padding: 2rem 0;
	position: relative;

	.btn {
		background: none;
		border: none;
		color: var(--primary-color);
		font-family: var(--slab-font), serif;
		font-optical-sizing: auto;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 500;
		text-transform: uppercase;

		&.active {
			text-decoration: underline;
		}
	}
}

#body-sub-nav {
	position: absolute;
	top: 5rem;
	z-index: 100;

	.menu {
		background-color: rgba(255, 255, 255, 0.85);
		backdrop-filter: blur(10px);
		border-radius: var(--border-radius);
		box-sizing: border-box;
		box-shadow: 0 5px 20px var(--primary-color-dark);
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.15s ease-out;

		.title {
			border-bottom: 1px solid var(--secondary-color);
			font-family: var(--slab-font), serif;
			font-size: 1rem;
			margin: 0.5rem 0;
			padding: 0.5rem;
			text-transform: uppercase;
		}

		.menu-item {
			font-family: var(--font), sans-serif;
			font-size: 1.1rem;
			padding: 0.5rem;
			text-transform: uppercase;

			&:hover {
				border-radius: calc(var(--border-radius) / 2);
				background-color: var(--primary-color-light);

				a {
					color: var(--tertiary-color);
					text-decoration: none;
				}
			}
		}

		ul {
			list-style: none;
		}
	}

	.btn-close {
		background-image: url("../assets/close.svg");
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: 0.25rem;
		display: none;
		height: 2rem;
		position: absolute;
		right: 1rem;
		top: 0.7rem;
		width: 1.5rem;
	}

	.menu.active {
		max-height: 80vh;
		transition: max-height 0.15s ease-in;
		padding: 0 1rem 1rem 1rem;

		&.about-us {
			display: block;
		}

		&.list-in {
			display: flex;
			flex-direction: row;
			column-gap: 1rem;
			width: 60vw;

			.topic {
				width: 100%;
			}
		}

		.menu-list {
			overflow-y: scroll;
		}
	}

	.menu {
		&.list-in {
			.topic {
				.menu-list {
					columns: 2;
				}
			}

			.shows {
				flex-basis: 30%;
				flex-shrink: 0;
			}
		}
	}
}

@media (width <= 900px) {
	.body-nav {
		position: unset;
	}

	#body-sub-nav {
		position: fixed;
		top: 3rem;
		left: 0;
		right: 0;

		.menu.active {
			overflow-y: scroll;

			&.list-in {
				flex-direction: column;
				width: unset;
			}
		}

		.menu {
			&.list-in {
				.topic {
					.menu-list {
						columns: 1;
					}
				}
			}
		}

		.btn-close {
			display: block;
		}
	}
}
