.front-page {
	.series-image {
		width: 100%;
		border-radius: var(--border-radius);
	}

	.featured {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
}
