.video_series.layout-body {
	.video-iframe {
		aspect-ratio: 16 / 9;
		border-radius: var(--border-radius);
		border: 2px solid var(--secondary-color);
		box-sizing: border-box;
	}

	.video-entry.first {
		grid-column: 1 / 4;
		grid-row: 2 / 2;
		margin-bottom: 1rem;
	}

	.video-entry-thumbnail {
		aspect-ratio: 4 / 3;
		border-radius: var(--border-radius);
		border: 2px solid var(--secondary-color);
		box-sizing: border-box;
		height: auto;
		width: 100%;
	}

	.page-main {
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;

		.main-title {
			grid-column: 1 / 4;
			grid-row: 1 / 1;
		}
	}
}

.video-series-entry {
	box-sizing: border-box;

	img {
		border-radius: var(--border-radius);
		border: 2px solid var(--secondary-color);
		height: auto;
		width: 100%;
	}

	.title {
		margin-bottom: 1rem;
	}

	.video-series-count {
		font-size: 0.8rem;
	}
}

.video-series-tags {
	background-color: var(--tertiary-color);
	border-radius: var(--border-radius);
	color: var(--font-color);
	font-size: 0.8rem;
	grid-column: 1 / 4;
	padding: 1rem;
}

@media (width <= 1400px) {
	.video-series-entry {
		.title {
			font-size: 1rem;
		}
	}
}

@media (width <= 900px) {
	.video_series.layout-body {
		.page-main {
			grid-template-columns: 1fr;
			.main-title {
				grid-column: 1 / 1;
				grid-row: 1 / 1;
			}
		}

		.video-entry.first {
			grid-column: 1 / 1;
		}
	}

	.video-series-tags {
		grid-column: 1 / 1;
	}
}
