.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
	clip-path: inset(50%); /* Modern alternative */
	white-space: nowrap;
	border: 0;
	margin: -1px;
	padding: 0;
}

.line-clamp-2 {
	display: -webkit-box;
	overflow: hidden;

	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.line-clamp-5 {
	display: -webkit-box;
	overflow: hidden;

	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.roboto-bold {
	font-family: var(--font);
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}
