name: Lint Code
on:
  pull_request:
    branches:
      - main
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install dependencies
        uses: php-actions/composer@master
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
            - run: npm config set package-lock true
            - run: echo 'package-lock=true'>> .npmrc
            - run: npm install -g npm@latest
      - name: Validate dependencies
        uses: php-actions/composer@master
        with:
          command: lint
